body {
  margin: 0%;
}

h1 {
  font-family: monospace;
  font-size: 64px;
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 16px;
}

h2 {
  font-family: monospace;
  font-size: 12px;
  color: #777777;
}

.button {
  background-color: #1e9e3b;
  border: none;
  color: white;
  padding: 2vh 4vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.button:hover {
  background-color: #115c22;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
}

#front {
  padding-left: 2vw;
  padding-right: 2vw;
}

#footer {
	padding-left: 2vw;
	padding-right: 2vw;
}

#left {
  float: left;
  width: 33%;
  height: 100vh;
}

#left-top {
  background-color: #dddddd;
  height: 10vh;
}

#left-bottom {
  background-color: #eeeeee;
  height: 90vh;
}

#right {
  overflow: hidden;
  width: auto;
  height: 100vh;
}

#right-top {
  background-color: #dddddd;
  border-left-style: solid;
  border-left-width: 0.25vh;
  border-left-color: #cccccc;
  height: 10vh;
}

#chat {
  background-image: url("../images/experiment-background.jpg");
  height: 80vh;
}

#right-bottom {
  background-color: #dddddd;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#messagebox {
  background-color: white;
  height: 5vh;
  padding-left: 1%;
  padding-right: 70%;
}
