body {
	margin: 0%;
}

h1 {
	font-family: monospace;
	font-size: 64px;
	text-align: center;
}

h2 {
	font-family: monospace;
	font-size: 12px;
	color: #777777;
}

p {
	font-family: monospace;
	font-size: 16px;
}

p2 {
	font-family: monospace;
	font-size: 16px;
	text-decoration: underline;
	color: blue;
}

.button {
	background-color: #1e9e3b;
	border: none;
	color: white;
	padding: 2vh 4vh;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: monospace;
	font-size: 16px;
	margin: auto;
	cursor: pointer;
}

.button:hover {
	background-color: #187d2f;
}

.frontend-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
}

#front {
	padding-left: 2vw;
	padding-right: 2vw;
}

#footer {
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vh;
}

.experiment-container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10vh 80vh 10vh;
	gap: 0px 0px;
	grid-template-areas:
		"top"
		"middle"
		"bottom";
}

.top {
	grid-area: top;
	background-color: #dddddd;
	display: flex;
	align-items: center;
}

.middle {
	grid-area: middle;
	padding: 1%;
	position: relative;
	background-image: url("../images/experiment-background.jpg");
}

.bottom {
	grid-area: bottom;
	background-color: #dddddd;
	display: flex;
	justify-content: center;
	align-items: center;
}

.messagebox {
	background-color: white;
	height: 50%;
	display: flex;
	align-items: center;
	padding-left: 2vw;
	padding-right: 70vw;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 {
	font-size: 48px;
	margin-left: 1vw;
	margin-right: 1vw;
}

#content {
	background-color: white;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	display: inline-block;
	max-width: 36%;
	border-radius: 0px 25px 25px 25px;
}

#countertext {
	position: absolute;
	bottom: 0;
	right: 2vw;
}

#expbutton {
	background-color: #1e9e3b;
	border: none;
	color: white;
	padding: 2vh 4vh;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: monospace;
	font-size: 16px;
	margin: 1%;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 0;
}

#expbutton:hover {
	background-color: #187d2f;
}